<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Caixa do Ateliê GET Festas</title>
        <script src="https://kit.fontawesome.com/133b0d3f9c.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Alegreya+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="{{ url_for('static', filename='get.css') }}">
        <!--<link rel="stylesheet" href="get.css">
        <link rel="shortcut icon" href="get3.ico"/>-->
        <script src="https://kit.fontawesome.com/133b0d3f9c.js" crossorigin="anonymous"></script>
       
        <!--Header wordpress-->
    </head>

    <body>
        
        <div class="super">
            <div class="superinfo-bg"> <!--acima do cabeçalho-->
                <div class="superinfo col text-center d-block">
                   Gerenciamento de vendas - G&T Festas
                </div>
            </div>


            <nav class="navbar navbar-expand-md fixed-top py-3 box-shadow estilo_nav"> <!--expande apos 760 px-->
                <a class="navbar-brand shark" href="{{ url_for('teste') }}"><img src="{{ url_for('static', filename='get4.jpg') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#781568; font-size:28px;"></i></span>
                </button>

                <div id="navbarText" class="collapse navbar-collapse"><!--O id deve ser esse, pois mostrará todo o conteudo com o toggle button-->
                    <ul class="navbar-nav ml-auto"> <!--gera margem esquerda, levando para direita-->
                        <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('vendas') }}">Vendas</a>
                        </li>

                       
                        <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('clientes') }}">Cadastrar cliente</a>
                        </li>                    

                         <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('inserir_produto') }}">Criar produto</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('estatistica') }}">Dashboard</a>
                        </li>

                    </ul>
                </div> 
            </nav>

        </div>

        <section class="my-3 jumbotron justify-content-center py-3" style="margin-top: 100px">
                <div class="table-responsive justify-content-center" style="margin-top:20px">    
                    <form action="{{ url_for('criar') }}" method="post">
                        <fieldset>
                          <div class="form-group">
                            <label for="sku_produto">SKU do produto</label>
                            <input type="text" id="sku_produto" name="sku_produto" class="form-control" required>
                          </div>
                          <div class="form-group">
                            <label for="nome_produto">Nome do produto</label>
                            <input type="text" id="nome_produto" name="nome_produto" class="form-control" required>
                          </div>
                          <div class="form-group">
                            <label for="preco_produto">Preço do produto</label>
                            <input type="number" min="0" step="0.01" id="preco_produto" name="preco_produto" class="form-control" required>
                          </div>
                          <div class="form-group">
                            <label for="quantidade_produto">Quantidade do produto</label>
                            <input type="number" min="1" id="quantidade_produto" name="quantidade_produto" class="form-control" required>
                          </div>
                        </fieldset>

                        <div class="my-3">
                          <button type="submit" class="btn btn-primary btn-salvar">Salvar dados</button>
                          <a class="btn btn-danger btn-voltar" href="{{url_for('teste')}}">Voltar</a>
                        </div>
                    </form>
                </div>
        </section>


        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>