<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Caixa do Ateliê GET Festas</title>
        <script src="https://kit.fontawesome.com/133b0d3f9c.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Alegreya+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="{{ url_for('static', filename='get.css') }}">
        <!--<link rel="stylesheet" href="get.css">
        <link rel="shortcut icon" href="get3.ico"/>-->
        <script src="https://kit.fontawesome.com/133b0d3f9c.js" crossorigin="anonymous"></script>
       
        <!--Header wordpress-->
    </head>

    <body>
        
        <div class="super">
            <div class="superinfo-bg"> <!--acima do cabeçalho-->
                <div class="superinfo col text-center d-block">
                   Gerenciamento de vendas - G&T Festas
                </div>
            </div>


            <nav class="navbar navbar-expand-md fixed-top py-3 box-shadow estilo_nav"> <!--expande apos 760 px-->
                <a class="navbar-brand shark" href="{{ url_for('teste') }}"><img src="{{ url_for('static', filename='get4.jpg') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#781568; font-size:28px;"></i></span>
                </button>

                <div id="navbarText" class="collapse navbar-collapse"><!--O id deve ser esse, pois mostrará todo o conteudo com o toggle button-->
                    <ul class="navbar-nav ml-auto"> <!--gera margem esquerda, levando para direita-->
                        <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('vendas') }}">Vendas</a>
                        </li>

                       
                        <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('clientes') }}">Cadastrar cliente</a>
                        </li>                    

                         <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('inserir_produto') }}">Criar produto</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link ml-md-2 itens_nav" href="{{ url_for('estatistica') }}">Dashboard</a>
                        </li>

                    </ul>
                </div> 
            </nav>
        </div>

        <section class="jumbotron justify-content-center" style="padding-bottom: 0px">
            <div class="justify-content-center">   

                <div class="form-row text-center justify-content-center">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 mt-2">
                        <label for="pokemongo" style="font-weight: bold">Insira o cupom</label>
                    </div>
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 mod">
                        <input style="border: solid 2px" id="myInput" onkeyup="meuPedido()"
                        class="form-control form-control-lg fa fa-search" name="oleocorrente" aria-label="Search"
                        data-target="#myModal" data-toggle="modal"  placeholder="Buscar...">
                    </div>
                </div>

                <div class="form-group row text-center justify-content-center my-1">
                    <button class="btn btn-lg botao_envio" style="min-width: 200px;"><a href="{{ url_for('.download_report') }}">Baixar vendas</a></button>
                </div>                 
            </div>
        </section>

         <section class="justify-content-center text-center container my-3" style="background: white; border: bolder">
            <h2 class="text-center justify-content-center mt-2">Vendas realizadas</h2>
            <div class="text-center justify-content-center table-responsive">   
                <table class="table table-striped table-bordered border border-dark border text-center justify-content-center" id="tbAmostras" style="width: 100%">
                    <thead style="width: 100%">
                        <tr>
                            <th>Cupom</th>
                            <th>SKU</th>
                            <th>Produto</th>
                            <th>Valor</th>
                            <th>Pagamento</th>
                            <th>Data da compra</th>
                        </tr>
                    </thead>

                    <tbody style="width: 100%">
                        {% for i in listar %}
                            <tr>
                                <td>{{ i.cupom }}</td>
                                <td>{{ i.sku1 }}</td>
                                <td>{{ i.produto1 }}</td>
                                <td>{{ i.compra }}</td>
                                <td>{{ i.forma_pagamento }}</td>
                                <td>{{ i.data_compra }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

         <footer>
            <div class="foot text-center py-3">
                <p class="mb-0">Desenvolvido por Paulo Roberto Vieira de Castro</p> <!--o mb-0 retira a margem padrão da tag p-->
            </div>
        </footer>        

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='localiza.js') }}"></script>
        <!--<script type="text/javascript" src="adddel.js"></script>-->
        <!--<script type="text/javascript" src="{{ url_for('static', filename='adddel.js') }}"></script>-->
        <!--<script>document.documentElement.classList.add("js");</script>-->
    </body>
</html>